<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <title>Gestión de personas</title>
</head>
<body>
    <section class="container">
        <h1 class="text-center">Gestión de personas</h1>
    </section>

    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="jquery/jquery.min.js"></script>
</body>
</html>